@model IEnumerable<SEESwebsite.Models.IncidentReport>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncidentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WasReviewed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncidentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WasReviewed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IncidentReportId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IncidentReportId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IncidentReportId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
